@import "tailwindcss";

@theme {
    --color-primary-4: #0339dd;
    --color-primary-3: #3B82F6;
    --color-primary-2: #93C5FD;
    --color-primary-1: #E0F2FE;
    --color-primary-hover: #3eadff;
    --color-text-light: #fff;
    --color-text-dark: #000;
    --color-err: #8F2A1C;
    --color-err-hover: #B12A00;
    --color-bg: #F8FAFC;
    --font-normal: 'Nunito', sans-serif;
}
@layer base {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: var(--font-normal);
    }
    body{
        background-color: var(--color-bg);
        overflow: hidden;
    }
}
   

