@import "tailwindcss";

@theme {
    --color-primary-4: #0F172A;
    --color-primary-3: #3B82F6;
    --color-primary-2: #93C5FD;
    --color-primary-1: #E0F2FE;
    --color-text-light: #fff;
    --color-text-dark: #000;
    --color-bg: #F8FAFC;
    --font-normal: 'Nunito', sans-serif;
}
@layer base {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: var(--font-normal);
        color: var(--color-text-dark);
    }
    body{
        background-color: var(--color-bg);
    }
}
   

